/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .notion-content-columns {
    max-width: 50%;
    display: block;
    float: left;
    width: 50%;
 }
 .notion-content-columns ::after{
    clear: both;
 }
 .notion-content-columns img {
    max-width: 100%;
    height: auto;
 }